<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automation Suite" verbose="1" thread-count="1" parallel="tests">
    <test name="Authorization" parallel="tests">
        <classes>
            <class name="LoginPageTest"/>
            <class name="OtherButtonTest"/>
            <class name="PaymentPageTest"/>
        </classes>
    </test>

</suite>
